venv/
.idea/
__pycache__/
*.7z
white_noise/
.venv/
.vscode/
.cache/
lunamemo/
out.txt
Scripts/json2n/model_setup/in/json.json
luna.py.ipynb
QuickLaunch.bat
main_script.py
*.old_lunafile
old_lunadir/
Scripts/auto_chrome/tokyo_shoseki/login_data.json
civitai_cookies.json
*.bin
*.gz
MY=ENV
a1111_model-resnet_custom_v3.pt
tmp/
assets/

*.future