[REPORTS]
evaluation=10.0 * (I)  # INFO レベルのみを評価

[MESSAGE CONTROL]
enable=all

[MASTER]
load-plugins=pylint.extensions.message_mapper

[EXTENSIONS]
# すべてのエラーレベルを info にマッピング
msg-template={msg_id}: {symbol}: {msg}

